<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {%block titulo%}
      FakePinterest
    {% endblock%}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

  </head>
  {% block body %}
  <body>
    <p><h1>Boas Vindas ao Fake Pinterest!</h1></p>
    <p><h2>Faça login para continuar:</h2></p>

     {%block formulario%} 
    <form method="POST">
      {{ form.csrf_token }}
        {{ form.email.label() }}
        {{ form.email() }}
        {{ form.senha.label() }}
        {{ form.senha() }}
        {{ form.botao_confirmacao() }}
    </form>
    <a href="{{url_for('criar_conta')}}">Não tem uma conta? Clique aqui para criar uma!</a>
    {%endblock%}
  </body>
  {% endblock%}
</html>